<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	
	RewriteEngine On

	# Removes access to the system folder by users.
	RewriteCond %{REQUEST_URI} ^sys.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	# When your application folder isn't in the system folder this snippet
	# prevents user access to the application folder.
	RewriteCond %{REQUEST_URI} ^app.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	# Checks to see if the user is attempting to access a valid file, such as
	# an image or css document, if this isn't true it sends the request to
	# index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, send all 404's to index.php.
	ErrorDocument 404 /index.php
</IfModule>  
