* {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}



.center{
	text-align: center;
	margin: 0 auto;
}

.calendar_container{
	margin-bottom:0.4em;
	float: right;
}

.table_calendar{
	width: 450px;
	height: 300px;
	background-color: #f2f2f2;
	
	margin: 0 auto;
	 border-collapse: collapse;
}

.table_calendar a.month_arrow {
	font-size: 25px;
	background-color: #f5945d;
	display: block;
	height: 70px;
	line-height: 70px;
	width: 55px;
	padding: 0!important;
	margin: 0!important;
	
}

.table_calendar  a{
	text-decoration: none;
	color: #000075;
	font-size: 14px;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.table_calendar .month_year a{
	color: #FFFFFF;
}

.table_calendar td,.table_calendar th{
	text-align: center;
	width: 90px;
	height: 40px;
	border-collapse: collapse;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	
}




.table_calendar .month_year{
	text-align: center;
	background-color: #f27935;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	height: 70px;
	line-height: 70px;
	position: relative;
	top: -2px;
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	font-weight: normal;
}

.table_calendar .calendar_today a{
	
    
	text-align: center;
    -moz-border-radius: 0.5em; /* or 50% */
    border-radius: 0.5em; /* or 50% */
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
    background-color: #a3eaf9;
    
}

.table_calendar .selected_date a{
	
    text-align: center;
    -moz-border-radius: 0.5em; /* or 50% */
    border-radius: 0.5em; /* or 50% */
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	background-color: #fbd4be;
}

.table_calendar .past_date a{
	color: #bababa;
}

#booking_container_date{
	font-weight: bold;
}

.booking_container{
	position: relative;
}

.role_title{
	background-color: #191d23;
	margin-left: 6px;
	height: 40px;
	color: #ffffff;
	line-height: 40px;
	padding-left: 3em;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	top: 1px;
	margin-top: 2em;
}

.role_title_collapse a{
	float: right;
	display: inline-block;
	width: 40px;
	background-color: #323a45;
	text-align: center;
	font-size: 23px;
	text-decoration: none;
	color: #ffffff;
}


.table-wrapper { 
    overflow-x:scroll;
    overflow-y:visible;
   
    margin-left: 185px;
	
}

tr.room_row > td{ 
   max-width: 70px;
   min-width: 70px;
   padding: 0;
   border: 1px solid #000000;
}



.table-wrapper th {
    padding: 0;
    width: 180px;
    max-width: 180px;
	color: #ffffff;
	background-color: #35383b;
	text-align:center;
	white-space: nowrap;
	
	  
	  
}

.table_cell_height{
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1em;
	width: 9em;
	margin: 0 auto;
	
}

.room_name .table_cell_height{
	margin: 0;
	width: 12em;
}


.booking_table td{
	max-height: 30px;
	height: 30px;
	min-height: 30px;
	border: none;
	overflow: hidden;
}

.booking_table th{
	max-height: 30px;
	height: 30px;
	min-height: 30px;
	border: 1px solid #000000;
	
	
}

.table-wrapper th:first-child {
    position: absolute;
    left: 6px;

	
}

.table-wrapper .room_name{
	color: #FFFFFF;
	background-color: #f27935;
	text-align: left;
	padding-left: 1em;
}

.table-wrapper .room_free{
	background-color: #a1e3ef;
	
	min-width: 90px;
	border: 1px solid #000000;	
	
	text-align: center;
}

.table-wrapper .not_avail{
	background-color: #e3e3e3;
	
	min-width: 90px;
	border: 1px solid #000000;	
	
	text-align: center
}

.booking_cell a{
	display: block;
    height: 100%;
    width: 100%;	
}

.booking_cell{
	font-size: 13px;
}

.room_free{
	
}

.booked_cell{
	background-color: #e6e6e6;
	color: #999999;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.my_booked_cell{
	background-color: #1fbba6;
	color: #333333;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.closed{
	background-color: #2b3035;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.room_resources{
	display: none;
}



#top_left{
	float: left;
}

#top_content{
	width: 780px;
	margin: 0 auto;
}

#app_links{
	margin-bottom: 2em;
}

#app_links li{
	list-style: none;
	margin-bottom: 2px;
	}

#app_links li a{
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	background-color: #F2F2F2;
	color: #5E6D82;
	text-align: center;
	width: 280px;
	display: inline-block;
	
	font-weight: bold;
	border-radius:0.4em;
}

#app_links li a:hover{
color: #FFFFFF;
	background-color: #323A45;
}


#app_links .selected{
	color: #FFFFFF;
	background-color: #323A45;
}

#filter_link_title{
	width: 280px;
	text-align: center;
	text-decoration: none;
	background-color: #f27935;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: bold;
	
}

#filter_link {
	float: right;
	color: #FFFFFF;
	background-color: #f5945d;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	text-decoration: none;
	width: 40px;
	font-size: 1.5em;
	text-align: center;
}

#filter_container {
	display: none;
	color: #000000;
	background-color: #ededed;
	
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	line-height: normal;
	height: 150px;
	overflow-x: scroll;	
	white-space: nowrap;
	
}

.filter_row{
	padding-left: 20px;
	display: inline-block;
	vertical-align: bottom;
	height: 110px;
	margin-top: 10px;
}

.filter_row label input {
  display: none;/* <-- hide the default checkbox */
}
.filter_row label span {/* <-- style the artificial checkbox */
  height: 12px;
  width: 12px;
  border: 1px solid grey;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
}
.filter_row [type=checkbox]:checked + span {/* <-- style its checked state */
  background-color: #f27935;
}

.filter_row label{
	font-weight: normal;
}





.jspTrack {
    background-color: #f27935 !important;
} /* or just remove the background property*/

.jspDrag {
    background-color: #fbd4be !important;
	border-radius: 5px;
}