<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| File and Directory Modes
|--------------------------------------------------------------------------
|
| These prefs are used when checking and setting modes when working
| with the file system.  The defaults are fine on servers with proper
| security, but you may wish (or even need) to change the values in
| certain environments (Apache running a separate process for each
| user, PHP under CGI with Apache suEXEC, etc.).  Octal values should
| always be used to set the mode correctly.
|
*/
define('FILE_READ_MODE', 0644);
define('FILE_WRITE_MODE', 0666);
define('DIR_READ_MODE', 0755);
define('DIR_WRITE_MODE', 0777);

/*
|--------------------------------------------------------------------------
| File Stream Modes
|--------------------------------------------------------------------------
|
| These modes are used when working with fopen()/popen()
|
*/

define('FOPEN_READ',										'rb');
define('FOPEN_READ_WRITE',									'r+b');
define('FOPEN_WRITE_CREATE_DESTRUCTIVE',					'wb'); // truncates existing file data, use with care
define('FOPEN_READ_WRITE_CREATE_DESTRUCTIVE',				'w+b'); // truncates existing file data, use with care
define('FOPEN_WRITE_CREATE',								'ab');
define('FOPEN_READ_WRITE_CREATE',							'a+b');
define('FOPEN_WRITE_CREATE_STRICT',							'xb');
define('FOPEN_READ_WRITE_CREATE_STRICT',					'x+b');

define('USER_AGENT',										'LibraryBooking/1.0');

define('SITE_TITLE',										'Name goes here');
define('SITE_LOGO',											'https://domain.com/assets/images/logo.png');

//Defaults if user has no roles
define('DEFAULT_TEMPLATE',									'rula_template');
define('DEFAULT_POLICY_URL'									'https://domain.com/room-booking-policy/');

define('DEBUG_MODE',										FALSE);
define('SITE_ADMIN',										'siteadmin@domain.com');
define('REPLY_EMAIL',										'contact@domain.com'); //Used as the "FROM" address when sending emails
define('CONTACT_EMAIL',										'contact@domain.com');
define('CONTACT_PHONE'										'416-555-5555');

define('USE_EXTERNAL_HOURS',								FALSE);
define('EXTERNAL_HOURS_URL',								'https://domain.com/hours_external.cfm');

define('USE_LIBSTAFF_LIST',									FALSE);
define('LIBSTAFF_URL',										'https://domain.com');
define('EMAIL_SUFFIX',										'@domain.com');

define('USE_ACCESS_CENTRE_LIST',							FALSE);
define('RMS_USERNAME',										'rms_username');
define('RMS_PASSWORD',										'rms_pass');
define('RMS_SERVICE',										'https://rms.domain.com');

//How long to wait (seconds) for the first slot to become bookable for moderated rooms
define('MODERATION_TIME_DELAY',								24*60*60); //24 hours

//How long to wait (seconds) for the first slot to become bookable for non-moderated rooms
define('TIME_DELAY',										0); //No delay

//Options on whether or not to send emails regarding moderation. TRUE to send emails, FALSE otherwise
define('SEND_MODERATION_ACTION_EMAIL',						TRUE);
define('SEND_MODERATION_REQUEST_CONFIRMATION_EMAIL',		TRUE);


/* End of file constants.php */
/* Location: ./application/config/constants.php */